<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container sticky-top p-2 shadow "> 
        <nav class="navbar navbar-expand-lg bg-body-tertiary ">
            <div class="container-fluid">
            <a class="navbar-brand fs-4 " href="#">Asama</a>
            </button>
            <div class="collapse navbar-collapse text-center " id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

                </ul>
                    
            </div>
            <a href="" class="btn btn-primary"> Get Started</a>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row align-items-center ">
            <div class="col-md-6">
                <div class="display-4 mb-4"> Build <span class="text-warning"> Gen AI </span> applications</div>
                <p class="lead mb-4 "> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corruptiLorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corruptiLorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti</p>
                <a href="" class="btn btn-primary"> Join Asama Group</a>
                <a href="" class="btn btn-success"> Explore Courses </a>
            </div>
            
            <div class="col-md-6">
                <img src="img/Team work-cuate.png" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="container mt-5 ">
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quod a voluptas voluptates corrupti eaque veritatis dolorem repellendus? Unde maxime ea qui quidem quis eveniet iste voluptatibus architecto similique?
    </p>
    </div>
</body>
</html>